* {
	background-color: rgb(3,38,66);
}
#backButton{
	border:none;	
	color:rgb(255,255,253);
        font-size: 25px;

}
#backButton:pressed{
	color:rgba(255,255,253,0.5);
	font-size:20px;
		
}
#titleLabel{
	font-size:25px;
	color:rgb(255,255,253);
}
#exitButton{
	border:none;
	outline: none; 
}